<div class="well">
  <h4>The Universe is totality of everything that existed, or ever will existe</h4>
  <p>The Q&A site is dedicated to questions about the history of the universe</p>
  
</div>
<div class="container">
<% @questions.each do |q| %>
<div class="media">
  <div class="media-left ">
    <a href="#">
      <img class="media-object" src="" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= q.email %> asked:</h4>
    <%= q.body %>	
      <div>
          <a href="/questions/12" class="btn btn-success btn-xs">View Answer</a>
      </div>
  </div>




<% end %>
</div>
</div>
