<div class="container">
    <div class="lead well">
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">User@email.com asked:</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, reiciendis ex, possimus impedit placeat voluptates aperiam eaque rem consequuntur obcaecati incidunt maiores quibusdam nihil vero rerum officiis ut facilis odio.</p>	
  </div>
  </div>
  </div>
  <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          
          <div>
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal"> submit new answer</button>
              
          </div>
          
          <%= render 'home/new_answer_form' %>
          
  <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">User@email.com answered:</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, reiciendis ex, possimus impedit placeat voluptates aperiam eaque rem consequuntur obcaecati incidunt maiores quibusdam nihil vero rerum officiis ut facilis odio.</p>	
  </div>
  <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">User@email.com answered:</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, reiciendis ex, possimus impedit placeat voluptates aperiam eaque rem consequuntur obcaecati incidunt maiores quibusdam nihil vero rerum officiis ut facilis odio.</p>	
  </div>
  <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">User@email.com answered:</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, reiciendis ex, possimus impedit placeat voluptates aperiam eaque rem consequuntur obcaecati incidunt maiores quibusdam nihil vero rerum officiis ut facilis odio.</p>	
  </div>
  </div>
  </div>